@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    margin: 0;
    font-size: 14px;
    background-color: rgb(224, 224, 224);
    font-family: 'Raleway', sans-serif;
    --green: rgb(0, 163, 0);
    --red: rgb(223, 3, 3);
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    margin-bottom: 50px;
}

header h1 {
    text-transform: uppercase;
}

main .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

main .form-container {
    width: 35%;
}

main .form-container .alert {
    display: none;
    height: 70px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 70px;
    border-radius: 5px;
    background-color: rgba(223, 3, 3, 0.15);
}

main .form-container .show {
    display: block;
}

main .form-container h2 {
    font-size: 19px;
    margin: 0 0 10px 0;    
}

main .form-container input {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding: 1px 15px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgb(172, 172, 172);
}

main .form-container .btn {
    font-size: 15px;
    background: none;
    padding: 7px 15px;
    border-radius: 5px; 
    cursor: pointer;
}

main .form-container .budget-btn {
    border: 2px solid var(--green);
    color: var(--green);
}

main .form-container .budget-btn:hover {
    color: white;
    background-color: var(--green);
}

main .form-container .expense-btn {
    border: 2px solid var(--red);
    color: var(--red);
}

main .form-container .expense-btn:hover {
    color: white;
    background-color: var(--red);
}

main .form-container #budget-form {
    padding: 15px;
    border: 2px solid var(--green);
    border-radius: 5px;
}

main .form-container #expense-form {
    padding: 15px;
    border: 2px solid var(--red);
    border-radius: 5px;
}

main .app-info {
    display: flex;
    justify-content: space-around;
    width: 65%;
    text-align: center;
}

main .app-info .info-container {
    width: 33%;
}

main .app-info .app-info-title {
    margin-top: 0;
    font-size: 25px;
    text-transform: uppercase;
}

main .app-info .amount {
    margin: 15px 0 0 0;
    font-size: 30px;
}

main .app-info .budget-amount {
    color: var(--green);
}

main .app-info .expense-amount {
    color: var(--red);
}

main .app-info .balance.negative {
    color: var(--red);
}

main .app-info .balance.positive {
    color: var(--green);
}

main .app-info .icon {
    display: inline-block;
    width: 70px;
    height: 70px;
}

main .app-info .budget-icon .money-bill-icon {
    background: url('../img/bill_symbol.svg') no-repeat;
    background-size: cover;
}

main .app-info .expense-icon .credit-card-icon {
    background: url('../img/credit_card_symbol.svg') no-repeat;
    background-size: cover;
}

main .app-info .balance-icon .dollar-sign-icon {
    background: url('../img/dollar_symbol.svg') no-repeat;
    background-size: cover;
}

main .expense-list {
    width: 65%;
}

main .expense-list .expense-list-info,
main .expense-list .expense-item {
    display: flex;
}

main .expense-list .expense-item {
    color: var(--red);
}
main .expense-list .expense-item a {
    display: inline-block;
    text-decoration: none;
    margin-right: 5px;
}

main .expense-list .expense-item .edit-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/edit_button.svg') no-repeat;
    background-size: cover;
}

main .expense-list .expense-item .delete-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/delete_icon.svg') no-repeat;
    background-size: cover;
}

main .expense-list .list-item {
    justify-content: space-around;
    width: 33%;
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 900px) {
    body {
        padding: 15px;
    }

    main .container {
        flex-direction: column;
        align-items: center;
    }

    main .container {
        width: 100%;
    }

    main .form-container {
        margin: 30px 0;
        width: 450px;
    }

    main .expense-list,
    main .app-info {
        margin: 30px 0;
        width: 100%;
    }
}

@media (max-width: 475px) {
    main .container {
        margin: 0;
    }

    main .form-container {
        width: 100%;
    }

    main .app-info .app-info-title {
        font-size: 16px;
    }

    main .app-info .amount {
        font-size: 20px;
    }

    main .app-info .icon {
        width: 50px;
        height: 50px;
    }
    
    main .expense-list .list-item {
        font-size: 16px;
    }
}
